.Main
{
    background-color: white;
    margin-left: 14px;
    min-height: 86vh;
    border-radius: 10px;
    padding: 20px;
}
@media only screen and (max-width: 764px) {
    .Main
    {
        margin: 20px 0px;
        min-height: 85vh;

    }
}